<a href="https://colab.research.google.com/github/laizmoura/testetendencias/blob/main/Teste_1_Tend%C3%AAncias_Consultoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.read_csv('movie.csv')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
19258,95746,Radio On (1980),Drama
19259,95748,2010: Moby Dick (2010),Action|Adventure|Thriller
19260,95750,Promise of the Flesh (Yukcheui yaksok) (1975),(no genres listed)
19261,95752,Terminal USA (1993),Comedy
19262,95,NaN,NaN